{% extends "base.html.twig" %}

{% block title %} mon blog: article détail {% endblock %}

{% block body %}
    <h1>Article (détail)</h1>
    <article> 
    {# on récupère le titre de l'article #}
        <h2> {{ article.title }}</h2>
        <div class="metainfo">écrit le {{ article.createdAt | date("d/m/Y à H:i")}}</div>
        <img src="{{ article.image }}" alt="">
        <p>{{article.content}} </p>
    </article>

{% endblock %}