{% extends "base.html.twig" %}
{% block title %} Mon blog: Home Page{% endblock %}

{% block body%} 
<h1> {{ titre }} </h1>

<p> blablablbalba</p>

{% if age > 30  %}
    <h3>Alan! Les Bounty c'est de la merde! </h3>
{% else %}
    <h3>Espèce de Millénials, retourne sur Fortnite</h3>
{% endif %}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, facere repellendus autem atque consequuntur, et vel aut molestiae quod laborum corrupti deleniti obcaecati. Dicta sequi, ea ullam molestias est perferendis.
Necessitatibus architecto libero, repellat quas quisquam amet omnis assumenda aperiam repudiandae iusto numquam cumque, laborum, magni ut unde voluptatum consequuntur blanditiis cum eveniet totam at obcaecati. Alias a adipisci modi.
Aliquid ad perferendis unde blanditiis repudiandae eius facere non est, error corporis et reiciendis dolor odit voluptatibus quidem omnis animi sed id, consequuntur, a neque? Assumenda aperiam laborum voluptate provident.
Vero sint eaque blanditiis nesciunt dignissimos quos, ea quaerat porro quia quisquam veritatis nihil, praesentium adipisci commodi excepturi dolorem omnis maiores magnam unde consectetur facere modi error rerum. Possimus, incidunt?
Explicabo facilis exercitationem accusamus assumenda eum vel sunt doloremque rerum nam id adipisci eius nisi, magnam quis aliquid, non numquam doloribus perferendis vero vitae? Asperiores aspernatur delectus tenetur perferendis quos!
Placeat sed ipsum rem ipsam, ducimus possimus reprehenderit assumenda voluptatem magni, quidem consequatur facilis, voluptatibus quasi repellendus maiores omnis tempore doloribus corporis dolore laudantium maxime cumque? Dolore odio a hic?
Ipsum nobis eligendi alias placeat aspernatur harum, excepturi ab mollitia minima libero perferendis tempora sequi hic! Iure atque, quod maiores saepe rem, veniam illum tenetur perspiciatis quibusdam ea consequuntur temporibus.
Et inventore debitis consectetur in, cumque dolores quae cum eos obcaecati provident aperiam ab neque? Provident reprehenderit fuga quos officia quidem inventore, facilis debitis quibusdam accusamus fugit incidunt quod velit.
Facere perferendis ipsam, quaerat voluptate suscipit saepe iure inventore omnis optio corrupti velit. Odio quod assumenda nulla corrupti ducimus in sint quibusdam beatae placeat animi possimus, quisquam, praesentium mollitia laboriosam.
Quae distinctio ex id eaque repellendus soluta dolor. Perspiciatis, dolorum? Repudiandae eum perspiciatis minima sed tenetur, iste veniam harum dolore. Laboriosam qui quo, distinctio doloribus voluptatibus reiciendis itaque officiis ratione?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id accusantium asperiores rem velit sequi cupiditate soluta incidunt, saepe possimus alias facere! Pariatur repellendus amet vero sit assumenda fugiat ab a.
Itaque, sint? Tempore, dolorum commodi? Iste sit asperiores eum temporibus quae cum inventore eius possimus sint tenetur, necessitatibus enim nisi doloremque dolore minus, aperiam earum nostrum eligendi blanditiis rerum? Inventore.
Vel tenetur, perspiciatis aperiam accusamus rerum, cum laborum nostrum dolore expedita earum non error voluptas, fugiat veniam consectetur quo doloremque eius vero voluptates sed ex tempora porro? Eum, quidem natus?
Officia, corrupti. Modi eaque dolorem neque cumque veniam iste aliquam maxime, nisi inventore omnis commodi magnam labore possimus beatae obcaecati alias error iusto temporibus tenetur corporis sunt reiciendis. Quam, adipisci!
Tempore ullam nesciunt, ducimus est esse dignissimos itaque corporis dolore molestiae, assumenda quaerat ipsa suscipit! Porro modi veritatis rerum tempore totam. Reprehenderit nisi minima omnis odit aliquam minus porro obcaecati.
Quae eos rerum debitis natus vitae eaque quisquam dolores dignissimos adipisci exercitationem autem minus quo voluptas temporibus corporis est, ipsa nostrum eum excepturi veniam doloremque atque distinctio voluptate? Distinctio, minima.
Pariatur corporis aspernatur doloribus, ex, totam hic tenetur explicabo, accusantium commodi dolores quam ullam adipisci. Iste sapiente voluptatem voluptatum dolore amet molestiae animi. Dignissimos minima veritatis quia, natus consequuntur obcaecati.</p>
{% endblock %}

