{% extends "base.html.twig" %}
{% block title %} Mon blog: Home Page{% endblock %}

{% block body%} 
{#{% if not app.user %}
<h1> Bienvenue sur mon blog</h1>
{% else %}
<h1> Bienvenue sur mon blog ,  {{ app.user.firstname}}</h1>
{% endif %}
  #}  

<h1>Bienvenue {{ firstname }} sur mon blog</h1>



<p> blablablbalba</p>



<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id accusantium asperiores rem velit sequi cupiditate soluta incidunt, saepe possimus alias facere! Pariatur repellendus amet vero sit assumenda fugiat ab a.
Itaque, sint? Tempore, dolorum commodi? Iste sit asperiores eum temporibus quae cum inventore eius possimus sint tenetur, necessitatibus enim nisi doloremque dolore minus, aperiam earum nostrum eligendi blanditiis rerum? Inventore.
Vel tenetur, perspiciatis aperiam accusamus rerum, cum laborum nostrum dolore expedita earum non error voluptas, fugiat veniam consectetur quo doloremque eius vero voluptates sed ex tempora porro? Eum, quidem natus?
Officia, corrupti. Modi eaque dolorem neque cumque veniam iste aliquam maxime, nisi inventore omnis commodi magnam labore possimus beatae obcaecati alias error iusto temporibus tenetur corporis sunt reiciendis. Quam, adipisci!
Tempore ullam nesciunt, ducimus est esse dignissimos itaque corporis dolore molestiae, assumenda quaerat ipsa suscipit! Porro modi veritatis rerum tempore totam. Reprehenderit nisi minima omnis odit aliquam minus porro obcaecati.
Quae eos rerum debitis natus vitae eaque quisquam dolores dignissimos adipisci exercitationem autem minus quo voluptas temporibus corporis est, ipsa nostrum eum excepturi veniam doloremque atque distinctio voluptate? Distinctio, minima.
Pariatur corporis aspernatur doloribus, ex, totam hic tenetur explicabo, accusantium commodi dolores quam ullam adipisci. Iste sapiente voluptatem voluptatum dolore amet molestiae animi. Dignissimos minima veritatis quia, natus consequuntur obcaecati.</p>
{% endblock %}

