{% extends 'base.html.twig' %}

{% block title %}Mon blog: Les articles{% endblock %}

{% block body %}
    <section>
        <article> 
            <h2>titre article</h2>
            <div class="metinfo">écrit le XX/XX/XXXX ) HH:MM</div>
            <img src="http://placehold.it/400x200" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam corrupti atque labore nostrum, delectus ad voluptatum quo rem nulla voluptatibus rerum, a voluptate tempore repudiandae minus dignissimos corporis veritatis! Facere!</p>
            <a href="#" class="btn btn_primary">lire article</a>
            
        </article>
    </section>
    <section>
        <article> 
            <h2>titre article</h2>
            <div class="metinfo">écrit le XX/XX/XXXX ) HH:MM</div>
            <img src="http://placehold.it/400x200" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam corrupti atque labore nostrum, delectus ad voluptatum quo rem nulla voluptatibus rerum, a voluptate tempore repudiandae minus dignissimos corporis veritatis! Facere!</p>
            <a href="#" class="btn btn_primary">lire article</a>

        </article>
    </section>
{% endblock %}


